## Dataset de indicadores urbanos
### Población residente (personas).
### Proporción de población de 15-64 años (Porcentaje).
### Número total de hogares (Número).
### Proporción de viviendas vacías (Porcentaje).
### Renta neta media anual por habitante (Euros).
### Población residente (personas).
### Unidades: hipotecas

Fuente: Instituto Nacional de Estadística. Ref: 30140

In [1]:
# importaciones básicas
import numpy as np
import pandas as pd

In [23]:
indicadores = pd.read_csv('../data/dataset8_indicadores.csv', sep=';', encoding='utf-8')
indicadores.head(25)

,Indicadores Urban Audit para Ciudades,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"Unidades: Personas, %, Número, €",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total Nacional,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Población residente (Personas),47385107,47450795,47026208,46733038,46572132,46440099,46449565,46512199,46727890,46818216,46667175
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Proporción de población de 15-64 años (Por...,"66,23","66,18","66,1","65,74","66,23","66,14","66,33","66,66","67,15","67,52","67,86"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Número total de hogares (Número),18401725,18286336,18140612,18535900,18472800,18406100,18346200,18303100,18217300,18017422,17776308
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Proporción de viviendas vacías (Porcentaje),,,,,,,,..,..,..,"13,66"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Renta neta media anual de los hogares (Euros),,,30690,29132,28417,27558,26730,26092,26154,26775,27747
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Renta neta media anual por habitante (Euros),,,12292,11680,11412,11074,10708,10419,10391,10531,10795

In [26]:
indicadores.drop([0,1], inplace=True)

In [28]:
indicadores.columns = indicadores.iloc[0]

In [45]:
indicadores.reset_index(drop=True ,inplace=True)

In [48]:
indicadores.drop([0,1,2], inplace=True)

In [50]:
indicadores.dropna(thresh=9,inplace=True)

In [54]:
indicadores.iloc[1] = indicadores.iloc[1].str.replace(',','.')

In [59]:
indicadores.reset_index(drop=True ,inplace=True)

In [64]:
indicadores['2011'] = indicadores['2011'].str.replace(',','.').astype(float)

In [65]:
indicadores

2,Total Nacional,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,Población residente (Personas),47385107,47450795,47026208,46733038,46572132,46440099,46449565,46512199,46727890,46818216,46667175.00
1,Proporción de población de 15-64 años (Por...,66.23,66.18,66.1,65.74,66.23,66.14,66.33,66.66,67.15,67.52,67.86
2,Número total de hogares (Número),18401725,18286336,18140612,18535900,18472800,18406100,18346200,18303100,18217300,18017422,17776308.00
3,Proporción de viviendas vacías (Porcentaje),,,,,,,,..,..,..,13.66
4,Renta neta media anual de los hogares (Euros),,,30690,29132,28417,27558,26730,26092,26154,26775,27747.00
5,Renta neta media anual por habitante (Euros),,,12292,11680,11412,11074,10708,10419,10391,10531,10795.00

In [ ]:
indicadores.to_csv('../data/clean/indicadores.csv', encoding='utf-8', index=False)